.calendar-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.day-name {
    font-weight: bold;
    padding: 0.5rem 0;
}

.day-cell {
    padding: 1rem 0;
    border-radius: 4px;
    cursor: pointer;
}
.day-cell:hover {
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
}

.stat-item {
    text-align: center;
}